// _font.scss

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap');
//font-family: 'Roboto', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Oswald:400,700&display=swap');
//font-family: 'Oswald', sans-serif;
@include font-face("Arial", "../fonts/slick/slick", normal, $file-formats: woff ttf eot svg);
