// _footer.scss

.footer-wpr {
	background: $brand-scroll;
	padding: 30px 0;
	.ft-link {
	  @include tablet-potrait {
	  	text-align: center;
	  	padding-bottom: 30px;
	  }
		h3 {
			font-size: 12px;
			font-weight: 600;
			color: $white;
			padding-bottom: 10px;	
		}
		ul {
			li {
				padding-bottom: 5px;
				a {
					color: $gray-ccc;
					font-size: 12px;
				}
			}
		}
	}
	.ft-cpy {
		color: $gray-ccc;
		font-size: 12px;
		padding-top: 10px;
	}
}