// _header.scss

.header-wpr {
	background:$brand-color;
	padding: 20px 0;
	.menu-section {
		@include tablet-potrait {
			position: static;
		}
	}
	#header-navigation {	
		@include tablet-potrait {
			display: none;
			position: absolute;
		    width: 100%;
		    left: 0;
		    top:60px;
		    background: #fff;
		    padding: 15px 20px;
		    z-index: 1;
		    box-shadow: 0px 3px 3px #efefef;
		}	
		ul {
			li{
				a {
					color: $brand-scroll;
					font-size: 14px;
					padding: 10px 0;
					display: block;
					border-bottom: $border-light;
					@include desktop {
						padding: 0 15px;
						display: inline;
						border-bottom: none;
					}
				}
				&:last-child {
					a {
						border-bottom: none;
					}
				}
			}
		}
	}
	.register-btn {
		@include robo-bld;
	}
}


//----- Hamburger component -----

.hamburger {
  cursor: pointer;
  transition: .5s ease-in-out;
  width: 40px;
  height: auto;
  overflow: hidden;
  @include rotate(0);
}
.hamburger div {
  background: $brand-scroll;
  display: block;
  height: 3px;
  left: 0;
  position: absolute;
  transition: .25s ease-in-out;
  @include rotate(0);
  width: 100%;
}
.hamburger div:nth-child(1) {
  top: 2px;
}
.hamburger div:nth-child(2), .hamburger div:nth-child(3) {
  top: 12px;
}
.hamburger div:nth-child(4) {
  top: 22px;
}
.hamburger.open div:nth-child(1), .hamburger.open div:nth-child(4) {
  left: 50%;
  top: 18px;
  width: 0%;
}
.hamburger.open div:nth-child(2) {
  background: $brand-scroll;
  @include rotate(45);
}
.hamburger.open div:nth-child(3) {
  background: $brand-scroll;
  @include rotate(-45);
}
