.register-consult { 
	padding: 30px 0;
	border-bottom: 1px solid $border-light;
	@include desktop {
		padding: 60px 0;
		margin-bottom: 30px;
	}
	h2 {
		font-size: 28px;
		color: $dark-blue;
		font-weight: 700;
		@include desktop {
			font-size: 48px;
		}
	}

	.audio-sec {
		padding-bottom: 30px;
		h4 {
			font-size: 16px;
			color: $dark-blue;
			padding-bottom: 5px;
		}
		h6 {
			font-size: 12px;
			color: $black-666;
		}
	}
	.register-sec {
		h6 {
			font-size: 16px;
			color: $blue-dark;
		}
		.reg-now-btn {
			margin: 20px 0 30px;
			width: 200px;
		}
		p {
			font-size: 13px;
			color: $black-666;
			text-align: center;
			line-height: 20px;
		}
	}

	.big-para {
		padding: 60px 0 30px;
		p {
			line-height: 30px;
		}
	}
}

.hero-links {
	list-style: disc;
    margin: 70px 0 30px;
    padding-left: 22px;
	li {
		margin-bottom: 25px;
		a {
			color: $brand-scroll;
			font-size: 18px;
			font-weight: 700;
			position: relative;
			&:after {
				content: "";
				background: $brand-scroll;
				position: absolute;
				bottom: 0;
				right: 0;
				width: 87%;
				height: 3px;
				transition: all 0.5s ease;
			}
			&:hover {
				text-decoration: none;
				&:after {
					width: 100%;
				}
			}
		}
	}
}

.how-use-ezone {
	padding: 60px 0;
	border-bottom: 1px solid $border-light;
	.how-use {		
		@include tablet-potrait {
			padding-top: 30px;
		}
		ul {
			position: relative;
			list-style: none;
			padding-top: 30px;
  			counter-reset: my-awesome-counter;
			li {
				font-size: 16px;
				color: $blue-dark;
				position: relative;
				padding-bottom: 30px;
    			padding-left: 60px;
    			line-height: 26px;    			
				counter-increment: my-awesome-counter;
				@include desktop {
					line-height: 38px; 
				}
				a {
					color: $blue-dark;
				}
				&:before {
				  content: counter(my-awesome-counter);
				  position: absolute;
				  top: 0;
				  left: 0;
				  line-height: 22px;
				  border-radius: 50%;
				  padding: 7px 12px;
				  border: 2px solid $blue-dark;
  				  text-align: center;
				  font-size: 18px;
				  font-weight: 700;
				  background: $white;
				  color: $blue-dark;
				  z-index: 2;
				}
			}
			&:before {
				content: "";
				height: 88%;
				width: 3px;
				background: $blue-dark;
				position: absolute;
				left: 17px;
    			z-index: 1;
			}
		}
		
	}
}

.about-doctor {
	h2 {
		padding-bottom: 40px;
	}
	p {
		line-height: 30px;
		padding-bottom: 30px;
		color: $brand-scroll;
	}
}

.college-list {
	&__header {
		ul {
			border-bottom: 2px solid $brand-scroll;
			padding-bottom: 5px;
			margin-bottom: 10px;
			li {
				font-weight: 700;
				color: $brand-scroll;
				display: inline-block;
				font-family: 'Oswald', sans-serif;
				font-weight: 700;
				&:first-child {
					width: 20%;
				}
				&:nth-child(2) {
					width: 70%;
				}
				&:last-child {
					width: 8%;
				}
			}
		}
	}
	&__content {
		ul {
			@include tablet-potrait {
				padding: 15px;
				border-bottom: 1px solid $border-light;
			}
			li {
				color: $brand-scroll;
				display: inline-block;
				padding-top: 15px;
				padding-bottom: 5px;
				margin-bottom: 10px;
				font-family: 'Oswald', sans-serif;
				border-bottom: 1px solid $border-light;
				@include tablet-potrait {
					display: block;
					width: 100%!important;
					padding-top: 0;
					border-bottom: none;
				}
				&:first-child {
					width: 20%;
				}
				&:nth-child(2) {
					width: 70%;
				}
				&:last-child {
					width: 8%;
				}
				&:before {
					@include tablet-potrait {
						content: attr(data-head);
						width: 100%;
						padding-bottom: 5px;
						font-weight: 700;
						display: block;
					}
				}
			}
			@include tablet-potrait {
				&:nth-child(odd) {
					background: #efefef;
				}
				&:nth-child(odd) {
					background: #fff;
				}
			}

		}
		height: 300px;
		@include desktop {
			height: 100vh;
		}		
		overflow-y: auto;
		/* width */
			&::-webkit-scrollbar {
			  width: 5px;
			}
			
			/* Track */
			&::-webkit-scrollbar-track {
			  background: $border-light; 
			  border-radius:100px;
			}
			 
			/* Handle */
			&::-webkit-scrollbar-thumb {
			  background: $brand-scroll;
			  border-radius:100px;
			}
			
			/* Handle on hover */
			&::-webkit-scrollbar-thumb:hover {
			  background: $brand-scroll;
			  border-radius:100px; 
			}
	}
}

.visit-clinic {
	h2 {
		padding-bottom: 40px;
	}
	ul {
		list-style: disc;
		@include tablet-potrait {
			padding-top: 30px;
			padding-left: 30px;
		}
		li {
			padding-bottom: 15px;
			color: $brand-scroll;
			line-height: 20px;
			em {
				font-weight: 700;
				font-style: italic;
			}
		}
	}
}

.ezone-answer {
	h2 {
		line-height: 40px;
		span {
			font-style: italic;
			display: block;
		}
	}
	.reg-now-btn {
		width: 200px;
		margin: 0 auto;
	}
}