// _bounce.scss     

@include keyframes(bounce) {
	0%, 20%, 50%, 80%, 100% {
    @include transform(translateY(0));
  }
	40% {
    @include transform(translateY(-30px));
  }
	60% {
    @include transform(translateY(-15px));
  }
}

.bounce {
  @include animation(bounce 2s infinite);
  &:hover {	
	@include animation(bounce 0s infinite);
  }
}