// _forms.scss
label.ipt {
  font-size: $s3;
  line-height: 1.385;
}
input {
  &[type="text"], &[type="password"], &[type="datetime-local"], &[type="date"], &[type="month"], &[type="time"], &[type="week"], &[type="number"], &[type="email"], &[type="url"], &[type="search"], &[type="tel"], &[type="color"] {
    border-color: $gray-eee;
    @include placeholder {
      color: $placeholder;
    }
    @include desktop {
      font-size: $s5;
    }
  }
}
textarea {
  border-color: $gray-eee;
  @include placeholder {
    color: $placeholder;
  }
  @include desktop {
    font-size: $s5;
  }  
}
body.touch-screen {
  input {
    &[type="text"], &[type="password"], &[type="datetime-local"], &[type="date"], &[type="month"], &[type="time"], &[type="week"], &[type="number"], &[type="email"], &[type="url"], &[type="search"], &[type="tel"], &[type="color"] {
      font-size: $default;
    }
  }
}
.form-control {
  border-color: $gray-eee;
  padding: 0.75rem 0.75rem;
  &:focus {
    border-color: $gray-ccc;
  }
}
.form-group {
  &.browse {
    span {
      border: solid 1px $gray-eee;
      display: block;
      font-size: $s3;
      overflow: hidden;      
      padding: 0.75rem 0.75rem;
    }
    &:active, &.focus {
      border-color: $gray-ccc;
    }
  }
}
// checkbox + radio
[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
  	position: absolute;
  	left: -9999px;  
}
[type="checkbox"]:not(:checked) + label, [type="checkbox"]:checked + label {
  cursor: pointer;
  font-size: $s3;
  padding: 0 35px;
  position: relative;
}
[type="checkbox"]:not(:checked) + label:before, [type="checkbox"]:checked + label:before {
  content: "";
  height: 27px;
  border: 1px solid $gray-eee;
  background: $white;
  width: 27px;
  @include position(absolute, 2px null null 0);
}
[type="checkbox"]:not(:checked).validate-error + label:before, [type="checkbox"]:checked.validate-error + label:before, [type="checkbox"]:not(:checked).error + label:before, [type="checkbox"]:checked.error + label:before {
  border-color: $brand-black;
}

[type="checkbox"]:not(:checked) + label:after, [type="checkbox"]:checked + label:after {
  @include fontawesome;  
  color: $checkbox;
  content: "\f00c";
  font-size: $s3;
  transition: all .2s;
  @include position(absolute, 8px null null 7px);
}
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
[type="checkbox"]:disabled:not(:checked) + label:before, [type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
[type="checkbox"]:checked:focus + label:before, [type="checkbox"]:not(:checked):focus + label:before { 
}
label:hover:before { 
}

[type="radio"]:not(:checked), [type="radio"]:checked {
  position: absolute;
  left: -9999px;
}
[type="radio"]:not(:checked) + label, [type="radio"]:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}
[type="radio"]:not(:checked) + label:before, [type="radio"]:checked + label:before {
  content: "";
  height: 17px;
  border: 1px solid $gray-eee;
  background: $white;
  color: $checkbox;
  width: 17px;
  @include border-radius(50%);
  @include position(absolute, 2px null null 2px);
}

[type="radio"]:not(:checked) + label:after, [type="radio"]:checked + label:after {
  background-color: $gray-eee;
  content: "";
  height: 9px;
  width: 9px;
  transition: all .2s;
  @include border-radius(50%);
  @include position(absolute, 6px null null 6px);
}
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="radio"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
  @include position(absolute, 8px null null 7px);
}
[type="radio"]:disabled:not(:checked) + label:before, [type="radio"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="radio"]:disabled:checked + label:after {
  color: #999;
}
[type="radio"]:disabled + label {
  color: #aaa;
}
[type="radio"]:checked:focus + label:before, [type="radio"]:not(:checked):focus + label:before { 
}
label:hover:before { 
}
.form-group {
  @include clear;
}
.form-control {  
  @include border-radius(0);
  &:active, &:focus, &:hover {
    outline: none;
    //border: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  }
}