// _modal.scss
.modal-wrap {
  height: $full;
  width: $full;
  .modal-table {
    display: table;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    width: $full;
    .modal-cell {
      display: table-cell;
      padding: 20px;
      vertical-align: middle;
    }
  }
  @include desktop {
    z-index: 10;
    @include position(absolute, 0 0 0 0);
  }
}
.dark {
  .modal-cell {
    p {
      color: $brand-black;
    }
  }
}

//bootmodal
.modal-content {
  @include border-radius(0);
}

.career-popup {
  .close {
    background: $brand-black;
    color: $white;
    height: 25px;
    opacity: 1;
    text-shadow: initial;
    width: 25px;
    @include border-radius(50%);
    @include position(absolute, 15px 15px nil nil);
  }
  .modal-header {
    border: 0;
    display: block;
    font-family: 'Rob-Bcond';
    font-size: $l3;
    padding: 15px 25px;
    text-align: center;
    text-transform: uppercase;
    //@include lat-blk;
    @include tablet {
      padding: 60px 100px 30px 100px;     
    }  
  }  
  .modal-body {
    line-height: 1.8;
    padding: 0 25px 15px 25px;
    @include tablet {
      padding: 0 100px 60px 100px;
    }
    h4 {
      font-family: 'Rob-Bcond';
      font-size: $m2;
      margin-bottom: 15px;
      text-transform: uppercase;
    }
    p {
      b {
        
      }
    }
    .qtips {
      background: $brand-black;
      color: $white;
      padding: 15px;
      p {
        font-size: $s4;
        line-height: 26px;
        margin-bottom: 15px;
        padding: 0;
        b {
          font-size: $m2;
          text-transform: uppercase; 
        }       
      }
      @include tablet {
        padding: 25px;
      }
    }
    // email form
    .email-form {
      margin: 0 auto;
      max-width: 480px;
      padding: 0; 
      width: $full;
      p {
        padding-top: 0;
        text-align: center;
      }
      [type="checkbox"]:not(:checked) + label:after, [type="checkbox"]:checked + label:after {
        top: 4px;
      }
    }
  }
}