// _mixins.scss

// ex: @include clear;
@mixin clear(){
  &:after{
    clear: both;
    content: "";
    display: table;
    height: 0;
    visibility: hidden; 
  }
  &:before{
    content: "";
    display: table;
  }
}

// ex: @include box-sizing(value)
@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model; // Safari <= 5
     -moz-box-sizing: $box-model; // Firefox <= 19
          box-sizing: $box-model;
}

//ex: @include border-radius(value);
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;
}

//ex: @include opacity(value);
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

//ex: @include input-height(value, value, value);
@mixin input-height($height, $line-height, $padding){
  height: $height;
  line-height: $line-height;
  padding: $padding;
}

// ex: @include fontawesome;
@mixin fontawesome {
    display: inline-block;
    font: {
		family: "FontAwesome";
		size: $default;
		weight: normal;
	}
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} 
@mixin arrows {
    display: inline-block;
    font: {
    family: "arrows";
    size: $default;
    style: normal;
    weight: normal;
  }
    text-decoration: inherit;
    text-rendering: auto;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
} 

@mixin robo-family {
  font-family: 'Roboto', sans-serif;
}
@mixin robo-lig {
  @include robo-family;
}
@mixin robo-reg {
  @include robo-family;
  font-weight: 400;
}
@mixin robo-regi {
  @include robo-family;
  font-style: italic;
  font-weight: 400;
}
@mixin robo-bld {
  @include robo-family;
  font-weight: 600;
}
@mixin robo-bld {
  @include robo-family;
  font-weight: 700;
}
@mixin robo-blk {
  @include robo-family;
  font-weight: 900;
}

// media queries
// @include mobile {styles} - only for mobile 0 to 767
@mixin mobile {
  @media (max-width: #{$screen-default}) {
    @content;
  }
}
// @include tablet {styles} - from tablet - 768
@mixin tablet {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}
// @include tablet-only {styles} - tablet only - 768 to 991
@mixin tablet-only {
  @media (min-width: #{$screen-sm-min}) and (max-width: #{$screen-md-min - 1px}) {
    @content;
  }
}
// @include tablet-potrait {styles} - from mobile to tablet - 0 to 991
@mixin tablet-potrait {
  @media (max-width: #{$screen-md-min - 1px}) {
    @content;
  }
}
// @include desktop {styles} - from pad landscape - from 992
@mixin desktop {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}
// @include desktop-land {styles} - from mobile to tablet landscape - from 0 to 1199
@mixin desktop-land {
  @media (max-width: #{$screen-lg-min - 1px}) {
    @content;
  }
}
// @include desktop-only {styles} - only for pad & lap - from 992 to 1199
@mixin desktop-only {
  @media (min-width: #{$screen-md-min}) and (max-width: #{$screen-lg-min - 1px}) {
    @content;
  }
}
// @include tablet-desktop {styles} - tablet only - 768 to 1199
@mixin tablet-desktop {
  @media (min-width: #{$screen-sm-min}) and (max-width: #{$screen-lg-min - 1px}) {
    @content;
  }
}
// @include large {styles} - for large screesn - from 1200px
@mixin large {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}
//@include retina {styles} -  retina displays - use this retina inside media query
@mixin retina {
  @media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    @content;
  }
}
// @include orient() or  @include orient(portrait)- use this inside media query
@mixin orient($orientation: landscape) {
    @media (orientation : $orientation) {
        @content;  
    }
}
// @include vertical-align(value) - this will align vertical center to a relative element
@mixin vertical-align($pos: relative) {
  position: $pos;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

// Routate object
// Usage: @include rotate(270);

@mixin rotate($deg: 90) {
  -ms-transform: rotate($deg * 1deg);
  -webkit-transform: rotate($deg * 1deg);
  -moz-transform: rotate($deg * 1deg);
  -o-transform: rotate($deg * 1deg);
  transform: rotate($deg * 1deg);
}