// _variables.scss

//size
$s1: 11px;
$s2: 12px;
$s3: 13px;
$s4: 14px;
$s5: 15px;
$default: 14px;
$s6: 16px;
$m1: 18px;
$m2: 20px;
$m3: 22px;
$m4: 24px;
$l1: 26px;
$l2: 28px;
$l3: 30px;
$l4: 32px;
$t1: 36px;
$t2: 42px;
$t3: 48px;
$o1: 60px;

// color
$brand-color: #e3f3f6;
$brand-blue: #293277;
$brand-blue-light: #14bef0;
$brand-scroll: #333740;
$dark-blue: #1d1d1d;
$blue-dark: #293177;
$light-gray: #e1e2e3;
$border-light: #ebeaeb;
$gray-ccc: #cccccc;
$gray-ddd: #ddd;
$gray-eee: #eeeeee;
$gray-f5f5f5: #f5f5f5;
$black-000: #000;
$brand-black: #333333;
$black-7b8b8e: #7b8b8e;
$black-666: #666;
$black-999: #999;
$black-5e6060: #5e6060;
$blue: #3b98c9;
$white: #fff;
$slide-arrow: #b3b0b0;
$slide-arrow-act: #7f7f7f;
$slide-dot: #b1b1b1;
$slide-dot-act: #b0b0b0;
$info: #00529B;
$info-bg: #BDE5F8;
$info-brd: #f5e79e;
$success: #4F8A10;
$success-bg: #DFF2BF;
$success-brd: #b2dba1;
$warning: #9F6000;
$warning-bg: #FEEFB3;
$warning-brd: #9acfea;
$error: #D8000C;
$error-bg: #FFBABA;
$error-brd: #dca7a7;
$nav-arrow: #b2b2b2;
$nav-arrow-active: #666;
$nav-dot: #b0b0b0;
$hr: #d4d7d7;
$copy: #5e6060;
$white-shadow: #d8dadb;
$checkbox: #bbbcbc;
$placeholder: #d2d3d3;
$tick: #9d9e9e;
$marker: #F1EEE6;
$yellow: #F4EA8B;

//social family 
$fb: #3B5998;
$tw: #55acee;
$gp: #DC4B39;
$in: #00a0dc;
$pt: #bd081c;
$ios: #5fc9f8;
$ig: #ffdc80;
$gplay: #a4c639;

// Speeds 
$quick: .1s;
$fast: .25s;
$slow: .45s;
$veryslow: 1s;

// Media queries
$screen-default: 767px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1100px;
$screen-max: 1240px;

// Container dimension
$full: 100%;
$half: 50%;
$quarter: 25%;
$three-four: 33.333%;

//Z-index
$menu-zindex: 900;
$aside-zindex: 800;
$stickyft-zindex: 980;
$popup-zindex: 990;